In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("passenger_data.csv")
df

   passenger_id            name  age gender destination  ticket_price
0          P001     Usman Rafiq   23      F     Karachi         15677
1          P002    Nimra Shahid   57      M      Lahore         17048
2          P003     Rehan Ahmed   24      M      Quetta         18227
3          P004        Ali Khan   32      M      Lahore         18130
4          P005    Laiba Yousuf   25      F      Lahore         14286
5          P006    Nimra Shahid   33      M      Lahore         11251
6          P007       Hiba Noor   19      M      Lahore         14263
7          P008     Rehan Ahmed   48      M      Lahore         14950
8          P009    Zainab Tariq   49      F      Quetta         18625
9          P010     Sarah Malik   48      F   Islamabad         18658
10         P011      Taha Kamal   38      F   Islamabad         18764
11         P012   Fatima Hassan   59      F   Islamabad         10916
12         P013        Ali Khan   44      M   Islamabad         13008
13         P014     Bilal Aslam   35      F   Islamabad         13098
14         P015     Ayesha Noor   33      M      Quetta         19950
15         P016   Fatima Hassan   59      F      Quetta         11872
16         P017    Ahmed Nadeem   28      M      Lahore         19780
17         P018     Hamza Tariq   43      F      Quetta         16195
18         P019    Nimra Shahid   21      M   Islamabad         13990
19         P020      Sana Javed   46      M    Peshawar         11733
20         P021      Mariam Ali   28      M   Islamabad         12557
21         P022     Ayesha Noor   40      F    Peshawar         15119
22         P023    Ahmed Nadeem   34      M    Peshawar         19636
23         P024     Ayesha Noor   39      F     Karachi         13170
24         P025    Zainab Tariq   54      M    Peshawar         14256
25         P026  Danish Qureshi   54      M   Islamabad         16013
26         P027     Usman Rafiq   40      F     Karachi         13100
27         P028      Iqra Ahmed   24      F     Karachi         10337
28         P029        Ali Khan   30      F      Lahore         14906
29         P030      Taha Kamal   39      F     Karachi         12178
30         P031     Bilal Aslam   26      M      Lahore         10121
31         P032    Zainab Tariq   36      F      Quetta         14157
32         P033      Taha Kamal   42      F      Quetta         14491
33         P034    Zainab Tariq   38      M      Quetta         13896
34         P035    Laiba Yousuf   55      M     Karachi         11739
35         P036    Zainab Tariq   38      F   Islamabad         14565
36         P037      Sana Javed   37      F      Quetta         19157
37         P038        Ali Khan   49      F      Lahore         12729
38         P039    Nimra Shahid   53      F      Quetta         14764
39         P040     Bilal Aslam   40      F      Quetta         18635
40         P041     Zara Sheikh   57      F    Peshawar         15537
41         P042   Fatima Hassan   24      F      Lahore         17680
42         P043       Hiba Noor   49      M     Karachi         11060
43         P044     Hamza Tariq   48      M      Lahore         12424
44         P045      Sana Javed   53      M    Peshawar         15547
45         P046     Bilal Aslam   59      F     Karachi         16730
46         P047      Mariam Ali   41      F     Karachi         12060
47         P048     Usman Rafiq   44      F    Peshawar         11990
48         P049   Fatima Hassan   37      M      Quetta         11219
49         P050      Mariam Ali   28      F     Karachi         16557

PART:1

In [3]:
# 1.
total_passengers = len(df)
print("Total passengers:", total_passengers)

Total passengers: 50

In [4]:
# 2.
destination_counts = df['destination'].value_counts()
print("\nPassengers per destination:\n", destination_counts)

Passengers per destination:
 destination
Lahore       12
Quetta       12
Karachi      10
Islamabad     9
Peshawar      7
Name: count, dtype: int64

In [5]:
# 3.
average_price_by_gender = df.groupby('gender')['ticket_price'].mean()
print("\nAverage ticket price by gender:\n", average_price_by_gender)

Average ticket price by gender:
 gender
F    14855.464286
M    14581.727273
Name: ticket_price, dtype: float64

PART:2

In [6]:
# 1.
def get_passengers_by_destination(dest):
    return df[df['destination'] == dest]['name'].tolist()

print("\nPassengers going to Karachi:", get_passengers_by_destination("Karachi"))

Passengers going to Karachi: ['Usman Rafiq', 'Ayesha Noor', 'Usman Rafiq', 'Iqra Ahmed', 'Taha Kamal', 'Laiba Yousuf', 'Hiba Noor', 'Bilal Aslam', 'Mariam Ali', 'Mariam Ali']

In [7]:
# 2.
def get_highest_paying_passenger():
    highest = df[df['ticket_price'] == df['ticket_price'].max()]
    return highest[['name', 'destination']].iloc[0].to_dict()

print("\nHighest paying passenger:", get_highest_paying_passenger())

Highest paying passenger: {'name': 'Ayesha Noor', 'destination': 'Quetta'}

PART:3

In [8]:
# 1.
sorted_df = df.sort_values(by='ticket_price', ascending=False)
print("\nSorted passengers by ticket price:\n", sorted_df[['name', 'ticket_price']])

Sorted passengers by ticket price:
               name  ticket_price
14     Ayesha Noor         19950
16    Ahmed Nadeem         19780
22    Ahmed Nadeem         19636
36      Sana Javed         19157
10      Taha Kamal         18764
9      Sarah Malik         18658
39     Bilal Aslam         18635
8     Zainab Tariq         18625
2      Rehan Ahmed         18227
3         Ali Khan         18130
41   Fatima Hassan         17680
1     Nimra Shahid         17048
45     Bilal Aslam         16730
49      Mariam Ali         16557
17     Hamza Tariq         16195
25  Danish Qureshi         16013
0      Usman Rafiq         15677
44      Sana Javed         15547
40     Zara Sheikh         15537
21     Ayesha Noor         15119
7      Rehan Ahmed         14950
28        Ali Khan         14906
38    Nimra Shahid         14764
35    Zainab Tariq         14565
32      Taha Kamal         14491
4     Laiba Yousuf         14286
6        Hiba Noor         14263
24    Zainab Tariq         14256
31    Zainab Tariq         14157
18    Nimra Shahid         13990
33    Zainab Tariq         13896
23     Ayesha Noor         13170
26     Usman Rafiq         13100
13     Bilal Aslam         13098
12        Ali Khan         13008
37        Ali Khan         12729
20      Mariam Ali         12557
43     Hamza Tariq         12424
29      Taha Kamal         12178
46      Mariam Ali         12060
47     Usman Rafiq         11990
15   Fatima Hassan         11872
34    Laiba Yousuf         11739
19      Sana Javed         11733
5     Nimra Shahid         11251
48   Fatima Hassan         11219
42       Hiba Noor         11060
11   Fatima Hassan         10916
27      Iqra Ahmed         10337
30     Bilal Aslam         10121

In [9]:
# 2.
top_3 = sorted_df[['name', 'age', 'ticket_price']].head(3)
print("\nTop 3 passengers:\n", top_3)

Top 3 passengers:
             name  age  ticket_price
14   Ayesha Noor   33         19950
16  Ahmed Nadeem   28         19780
22  Ahmed Nadeem   34         19636

BONUS TASK:

In [12]:

try:
    age_threshold = int(input("\nEnter an age threshold: "))
    younger_passengers = df[df['age'] < age_threshold]
    print(f"Number of passengers younger than {age_threshold}: {len(younger_passengers)}")
except ValueError:
    print("Please enter a valid number.")

Enter an age threshold: 50
Number of passengers younger than 50: 40